# Docker Env Settings
# Configure your PHP settings 
# on the docker instance
APP_ENV=local

# Configure xDebug
XDEBUG_ENABLED=false
XDEBUG_REMOTE_ENABLE=1
XDEBUG_REMOTE_AUTOSTART=1
XDEBUG_REMOTE_CONNECT_BACK=1
XDEBUG_HOST=192.168.0.6
XDEBUG_REMOTE_PORT=9000
XDEBUG_IDEKEY=PHPSTORM