name: "Update Laravel Sail Docker Images"

on:
  push:
    branches:
      - "feature/automatic-upgrades"

  workflow_dispatch:

  schedule:
    - cron: "0 0 * * 3"

permissions:
  contents: write

jobs:
  automatic-upgrade:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Checkout Laravel Sail
        uses: actions/checkout@master
        with:
          repository: laravel/sail
          path: laravel-sail

      - name: Update Laravel Sail
        run: |
          # tree laravel-sail

          cp laravel-sail/runtimes/8.1/* src/php81
          cp laravel-sail/runtimes/8.2/* src/php82
          cp laravel-sail/runtimes/8.3/* src/php83
          cp laravel-sail/runtimes/8.4/* src/php84
          cp laravel-sail/runtimes/8.5/* src/php85

          rm -rf laravel-sail

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.PAT }}
          commit-message: Update Laravel Sail Docker Images
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: update-laravel-sail
          delete-branch: true
          title: "[Weekly] Laravel Sail Docker Image Update"
          body: |
            Update report
            - Updated with *today's* date
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: |
            report
            automated pr
          assignees: robmellett
          reviewers: robmellett
          draft: false
